# Python
__pycache__/
*.pyc

# Virtual env
.venv/
venv/

# Databases
*.db
*.sqlite3

# YOLO models
*.pt

# Captures
captures/
*.jpg
*.png
*.jpeg
*.mp4

# IDE
.vscode/
.idea/

# Logs
*.log

# Cache
.cache/

# Env
.env